@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--reka-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--reka-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

:root {
  --background: oklch(0.982 0.012 282.6);
  --foreground: oklch(0.154 0.052 282.6);
  --muted: oklch(0.877 0.035 282.6);
  --muted-foreground: oklch(0.405 0.056 282.6);
  --popover: oklch(0.982 0.012 282.6);
  --popover-foreground: oklch(0.154 0.052 282.6);
  --card: oklch(0.982 0.012 282.6);
  --card-foreground: oklch(0.154 0.052 282.6);
  --border: oklch(0.929 0.021 282.6);
  --input: oklch(0.929 0.021 282.6);
  --primary: oklch(0.309 0.082 282.6);
  --primary-foreground: oklch(0.841 0.068 282.6);
  --secondary: oklch(0.809 0.014 282.6);
  --secondary-foreground: oklch(0.227 0.01 282.6);
  --accent: oklch(0.758 0.027 282.6);
  --accent-foreground: oklch(0.175 0.02 282.6);
  --destructive: oklch(0.299 0.243 27.2);
  --destructive-foreground: oklch(0.899 0.05 27.2);
  --ring: oklch(0.309 0.082 282.6);
  --chart-1: oklch(0.309 0.082 282.6);
  --chart-2: oklch(0.809 0.014 282.6);
  --chart-3: oklch(0.758 0.027 282.6);
  --chart-4: oklch(0.843 0.012 282.6);
  --chart-5: oklch(0.309 0.087 282.6);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.03 0.016 282.6);
  --foreground: oklch(0.964 0.038 282.6);
  --muted: oklch(0.105 0.033 282.6);
  --muted-foreground: oklch(0.655 0.06 282.6);
  --popover: oklch(0.03 0.016 282.6);
  --popover-foreground: oklch(0.964 0.038 282.6);
  --card: oklch(0.03 0.016 282.6);
  --card-foreground: oklch(0.964 0.038 282.6);
  --border: oklch(0.152 0.02 282.6);
  --input: oklch(0.152 0.02 282.6);
  --primary: oklch(0.309 0.082 282.6);
  --primary-foreground: oklch(0.841 0.068 282.6);
  --secondary: oklch(0.107 0.024 282.6);
  --secondary-foreground: oklch(0.721 0.05 282.6);
  --accent: oklch(0.199 0.037 282.6);
  --accent-foreground: oklch(0.8 0.058 282.6);
  --destructive: oklch(0.451 0.25 27.2);
  --destructive-foreground: oklch(1 0 0);
  --ring: oklch(0.309 0.082 282.6);
  --chart-1: oklch(0.309 0.082 282.6);
  --chart-2: oklch(0.107 0.024 282.6);
  --chart-3: oklch(0.199 0.037 282.6);
  --chart-4: oklch(0.14 0.02 282.6);
  --chart-5: oklch(0.309 0.087 282.6);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.container {
  @apply mx-auto max-w-6xl px-4 lg:px-6;
}

.container-card {
  @apply p-6 border border-border shadow-sm rounded-lg bg-card;
}

.text-description {
  @apply text-sm text-muted-foreground leading-relaxed;
}

/* Styles pour les liens */
.link-underline {
  @apply text-foreground underline decoration-neutral-300 underline-offset-4 transition-colors duration-300 ease-out hover:decoration-current! dark:decoration-neutral-500;
}

/* Styles pour les sections */
.section {
  @apply py-12 lg:py-16;
}

.section-header {
  @apply text-center mb-8 lg:mb-12;
}

.section-page-header {
  @apply text-start mb-8 lg:mb-12;
}

.section-title {
  @apply text-2xl lg:text-3xl font-bold text-foreground mb-4;
}

.section-page-title {
  @apply text-2xl font-bold text-gray-900 dark:text-white mb-2;
}

.section-page-subtitle {
  @apply text-base text-muted-foreground max-w-2xl mx-auto;
}

.section-subtitle {
  @apply text-lg text-muted-foreground max-w-2xl mx-auto;
}
